/*Обнулення*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
	height: 100%;
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
[class*="__container"]{
	max-width: 1180px;
	padding-left: 20px;
	margin: 0 auto;
	/*margin: 0 20px auto;*/
}
.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container, .footer__container{
	display: flex;
	min-height: 114px;
	align-items: center;
}
.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__logo{
	position: relative;
	z-index: 5;
}
.header__menu{
	flex: 1 1 auto;
}
.menu{
	display: flex;
	justify-content: flex-end;
}
.menu__item{
	margin: 0px 40px 0px 0px;
    color: white;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.menu__list{
	display: flex;
}
.menu__link{
	font-weight: 700;
	font-size: 16px;
	color: white;
}
.menu__link:hover{
	text-decoration: underline;
	transition: all 0.5s;
}
.header__logo img{
    width: 122px;
}

.sriker-drones__content{
	height: 100vh;
	min-height: 800px;
	background-image: url(../img/main-picture-of-drone.webp);
	background-size: cover;
    background-position: center;
}
.block-text__container{
	flex: 1 1 auto;
	max-width: 1180px;
	min-height: 800px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block-text__title{
	font-family: 'Fjalla one', sans-serif;
	font-size: 140px;
	font-weight: 400px;
	color: white;
	max-width: 450px;
}
.block-text__text{
	color: white;
	margin: 60px 0;
}
.button_red{
	background-color: #f52e62;
	color: white;
	margin: 30px 0px;
}
.button_red:hover{
	background-color: #0ad19d;
	transition: all 0.5s;
}
.button_black{
	border: white solid 1px;
	margin: 30px 0px 0px 30px;
}
.button_black:hover{
	background-color: white;
	color: black;
	transition: all 0.5s;
}
.button{
	color: white;
	width: 155px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Lato, sans-serif;
	font-size: 13.2px;
	font-weight: 700;
}
.buttons{
	display: flex;
	align-items: row;
}
h1{
	font-family: Fjalla One, sans-serif;
	font-size: 140px;
}
h2{
	font-family: Fjalla One, sans-serif;
	font-size: 40px;
}
.about__img{
	max-width: 600px;
}
.about__container{
	min-height: 760px;
	max-height: 1vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.about{
	background-size: cover;
    background-position: center;
	background-image: url(../img/background.webp);
}
.about-text__title{
	margin: 0px 0px 60px 0px;
}
.about-text__text{
	margin: 30px 30px 30px 0;
	line-height: 28.8px;
}
.about-text__title, .about-text__text{
	color: white;
}
.about-text__subtext{
	color: #c5c5c5;
	line-height: 28.8px;
	margin: 30px 30px 0px 0px;
}
.item__title{
	font-family: Fjalla One, sans-serif;
	font-size: 25px;
	line-height: 40px;
	color: white;
}
.item__text{
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27.2px;
}
.columns__row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.columns__column{
	padding: 0px 40px;
}

.needs{
	background-size: cover;
    background-position: center;
	background-color: #f0f0f0;
}
.needs-text{
	margin: 0px 60px 0px 0px;
}
.needs-text__title{
	margin: 60px 0px;
}
.needs-text__text{
	line-height: 27.2px;
	margin: 20px 0;
}
.needs-text__subtext{
	font-family: Lato, sans-serif;
	color: rgb(81, 81, 81);
	line-height: 27.2px;
}
.needs__container{
	min-height: 760px;
	max-height: 1vh;
	display: flex;
}
.needs__content{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.needs__image{
	width: 50%;
}

.FAQ-text{
	text-align: center;
	color: white;
	margin: 120px 0;
}
.FAQ-text__title{
	margin: 120px 0;
}
.FAQ__subtitle{
	text-align: center;
}
.item__text{
	color: #c5c5c5;
	line-height: 28.8px;
	margin: 20px 0 120px 0;
}
.FAQ{
	background-size: cover;
    background-position: center;
	background-image: url(../img/background.webp);
}
.footer__logo img{
	width: 122px;
}
.footer__container{
	display: flex;
	justify-content: space-between;
}
.footer__rights{
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 22.4px;
	color: rgb(197, 197, 197);
	padding-right: 20px;
}
.footer{
	background-color: rgb(28, 29, 30);
	min-height: 114px;
}

@media (max-width: 992px){
	.columns__row{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.block-text__title{
		font-size: 102px;
		max-width: 450px;
	}
	.about__img{
		max-width: 100%;
	}
	.about__container{
		min-height: 760px;
		max-height: none;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.about-text__title{
		margin: 60px 0px 60px 0px;
	}
	.about-text__subtext{
		margin-bottom: 60px;
	}
}
@media (max-width: 768px){
	.columns__row{
		display: grid;
		grid-template-columns: 1fr;
	}
	.needs__container{
		min-height: 760px;
		max-height: none;
		display: flex;
		flex-direction: column;
	}
	.needs__content{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.needs__image{
		width: 100%;
		margin: 0px 0px 0px -20px;
	}
	.needs__image img{
		width: 100vw;
	}
}
