/*Обнулення*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
	flex: 1 1 auto;
}
[class*="__container"]{
	max-width: 100%;
	margin: 0px auto;
}
.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container{
	display: flex;
	min-height: 114px;
	align-items: center;
}
.header__logo{
	position: relative;
	z-index: 5;
}
.header__menu{
	flex: 1 1 auto;
}
.header__button{
	position: relative;
	z-index: 5;
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu{
	display: flex;
	justify-content: flex-end;
}
.menu__item{
	margin: 0px 40px 0px 0px;
    color: white;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.menu__list{
	display: flex;
}
.menu__link{
	font-weight: 700;
	font-size: 16px;
	color: white;
}
.header__logo img{
    width: 122px;
}

.sriker-drones__container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.striker-drones__image img{
	max-width: 100%;
}
.block-text__title{
	font-family: 'Fjalla one', sans-serif;
	font-size: 140px;
	font-weight: 400px;
}

h1{
	font-family: Fjalla One, sans-serif;
	font-size: 140px;
}
h2{
	font-family: Fjalla One, sans-serif;
	font-size: 40px;
}
.item__title{
	font-family: Fjalla One, sans-serif;
	font-size: 25px;
	line-height: 40px;
}
.item__text{
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27.2px;
}
.block-text__title{
	font-size: 1.3rem;
}
/*vs code*/